.messageListWrapper {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-items: flex-start;

  >img {
    height: 1.75rem;
    margin: 2rem 0;
  }
}

.messageList {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
  flex: 1;

  .message {
    max-width: 27.5rem;

    &:nth-child(2) {
      margin-left: 5rem;
    }

    .messageContent {
      font-size: 1.25rem;
      line-height: 1.75rem;
    }

    .messageUser {

      margin-top: 1rem;
      display: flex;
      align-items: center;

      .userImage {

        padding: 0.125rem;
        background: linear-gradient(100deg, #ff008e 0.48%, #ffcd1e 100%);
        border-radius: 50%;
        line-height: 0;

        img {
          width: 1.8rem;
          height: 1.8rem;
          border-radius: 50%;
          border: 0.25rem solid #121214
        }
      }

      span {
        font-size: 1rem;
        margin-left: 0.75rem;
      }
    }
  }

}