.sendMessageFormWrapper {
  background: #1b1b1f;
  padding: 1.5rem;
  align-self: center;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align:center;
  
  position: relative;
}

.signOutButton {
  background: transparent;
  border: 0;
  color: #c4c4cc;

  position: absolute;
  left: 1.5rem;
  top: 1.5rem;

  cursor: pointer ;

  &:hover {
    filter: brightness(0.9);
  }
}

.userInformation {
  display: flex;
  flex-direction: column;
  align-items: center;

  .userImage {

    padding: 0.18rem;
    background: linear-gradient(100deg, #ff008e 0.48%, #ffcd1e 100%);
    border-radius: 50%;
    line-height: 0;

    img {
      width: 5.875rem;
      height: 5.875rem;
      border-radius: 50%;
      border: 0.375rem solid #121214
    }
  }

  .userName {
    font-size: 1.5rem;
    line-height: 1.875rem;
    margin-top: 1rem;
  }

  .userGithub {
    display: flex;
    align-items: center;
    
    margin-top: 0.5rem;
    color: #c4c4cc;

    svg {
      margin-right: 0.5rem;
    }
  }
}

.sendMessageForm {
  display: flex;
  flex-direction: column;
  align-self: stretch;

  margin-top: 3rem;
  background: #202024;

  label {
    padding: 1.125rem 1.5rem;
    font-size: 1.25rem;
    background: #29292e;
    font-weight: bold;
    text-align: left;
  }

  textarea {
    background: transparent;
    border: 0;
    padding: 1.5rem;
    resize: none;

    height: 10rem;
    color: #e1e1e6;
    font-size: 1rem;
    line-height: 1.5rem;

    &:focus {
      outline: 0;
    }
    
    &::placeholder {
      color: #8d8d99;
    }
  }
  button {
    align-self: flex-end;
    border: 0;
    background: #ff008e;
    margin: 1.5rem;
    padding: 0 2rem;
    height: 2.5rem;
    border-radius: .6rem;

    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
    cursor: pointer;

    &:hover {
      filter: brightness(0.9);
      transform: scale(1.04)
    }
  }
}