.loginBoxWrapper {
  height: 100vh;
  width: 100%;
  background: #17171a url(../../assets/banner-girl.png) no-repeat center top;

  padding: 27.5rem 5rem 0;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  strong {
    font-size: 2rem;
    line-height: 2.25rem;
  }

  .signInWithGithub {
    background: #ffcd1e;
    margin-top: 2rem;
    padding: 0 2.5rem;
    height: 3.5rem;
    border-radius: .6rem;

    color: #09090a;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;

    svg {
      margin-right: 1rem;
    }

    &:hover {
      filter: brightness(0.9);
      transform: scale(1.04)
    }
  }
}